style.css
body {
    background-color: #726d72;
    font-family: Arial, sans-serif;
    line-height: 1.6em;
    color: #333;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

h3 {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 17px;
}

input[type="radio"] {
    margin: 10px 5px;
}

input[type="radio"]:checked + label {
    color: #f00;
}

.warning {
    background-color: red;
    color: white;
  }
  
  .green {
    background-color: rgba(144, 238, 144, 1);
  }
